[2019-06-08 10:18] mixartemev opened #1 "How can I use related fields in chart?"
For ex: I have posts with user_id. I want to show bars with user.name by their posts count.

[2019-06-08 10:25] PovilasKorop commented on #1
@mixartemev currently it's not possible, we delayed it for future versions. It's pretty hard to code so flexibly for all relationships.

[2019-06-10 10:54] PovilasKorop commented on #1
@mixartemev ok found a relatively easy way of doing what you need, released a new version:

https://github.com/LaravelDaily/laravel-charts/releases/tag/0.1.6
https://github.com/LaravelDaily/laravel-charts/commit/0236998684a0a37c0af96d9181ad88d415adb20a

[2019-06-10 10:54] #1 closed

[2019-06-10 20:13] mixartemev commented on #1
@PovilasKorop thank you so much for reaction, but I can't see relation fields.
When it old style:
[code]
it works fine, but without relation names, only with ids from the same table
![joxi_screenshot_1560197313473](https://user-images.githubusercontent.com/5181924/59223482-b48d5680-8bd4-11e9-9dca-26cecd6b4bd7.png)

But if I change options to group_by_relationship:
[code]
the chart is empty, withou

[2019-06-10 21:13] mixartemev commented on #1
I found out the reason: my table 'buildings' haven't field 'name' (only 'region' table has field 'name'), but it's checked in initial table instead related table.
fixed in #2

[2019-06-13 09:14] mixartemev opened #3 "Is there way to make equable time axis, for show absent objects?"
If there is not objects in some date, then this date is cut out from chart.
<img width="781" alt="Снимок экрана 2019-06-13 в 11 51 13" src="https://user-images.githubusercontent.com/5181924/59418904-82e1de80-8dd2-11e9-9272-531af87289e3.png">
And I want to show created objects in EVERY day from last month, including days when objects is not created.

[2019-06-13 09:36] PovilasKorop commented on #3
@mixartemev yes it's a known issue. Probably it requires a loop after results are formed, to fill in empty dates into array. If you have time, please try to do a PR, otherwise we will probably fix it some day but not in nearest future, have other priorities with QuickAdminPanel currently.

[2019-06-13 11:13] mixartemev opened #4 ""N+1 query" problem when report type is "group_by_relationship""
<img width="1344" alt="Снимок экрана 2019-06-13 в 13 40 31" src="https://user-images.githubusercontent.com/5181924/59428192-48357180-8de5-11e9-93f7-88d4060e22e9.png">

[2019-06-13 11:19] mfcRogue opened #6 "Select Colours on Pie charts"
Is there away to customise / select specific colours for Pie Charts, currently it changes each time it is refreshed.

[2019-06-13 11:27] PovilasKorop commented on #4
@mixartemev ok released `0.1.8` version, thanks for Pull Request!

[2019-06-13 11:27] #4 closed

[2019-06-13 13:02] PovilasKorop commented on #6
@mfcRogue currently not, because the grouping categories are dynamic, so the package doesn't know upfront what are your categories. But maybe we can add it as parameters so you would pass an optional array of colors per category, would that be ok for you?

Maybe you could even try to implement it yourself and submit a Pull Request? Cause I'm not sure when exactly we would be able to implement this

[2019-06-13 14:43] mfcRogue commented on #6
I've just hard coded it for now, since my group will always have a set amount.

Colour can be found in > vendor\laraveldaily\laravel-charts\src\views\javascript.blade.php

Should be able to run normal eloquent commands in the blade so if needed anyone could create a colour field in the DB to match colours if required.

[2019-06-13 14:43] #6 closed

[2019-06-13 15:01] PovilasKorop commented on #6
@mfcRogue thanks for the follow up comment. Launching eloquent queries from blade is a bad practice, so those colors should come from some config file. We will consider it in the future.

[2019-06-14 02:46] #3 closed

[2019-06-21 19:24] illusion199 opened #8 "laravel 5.8 taking area but Not showing charts"
Did instruction but not showing charts as istructed but no error. take chart area but showing nothing but h1 tag.

[2019-06-21 19:45] illusion199 opened #9 "Chart data has come but not showing in browser"
Like this.
http://prntscr.com/o50nxi

[2019-06-22 06:07] PovilasKorop commented on #9
@illusion199 very weird. Could you upload your full project source code (or maybe just HTML) somewhere and send me the link? I would download and debug.

Without full source code, I can't really help you.

[2019-07-03 11:03] alhaji-aki opened #10 "Ajax"
Is it possible to get the data in an ajax request?

Thank you for this package.

[2019-07-03 11:30] PovilasKorop commented on #10
Currently it's not in plans, cause it would require redoing whole package. Maybe later.

But we accept Pull Requests if you have time to do it.

[2019-10-01 08:55] BechirAhmed opened #12 "Display Currency in chart"
Is it possible to display amount currency, if so, how?

[2019-10-01 09:06] PovilasKorop commented on #12
@BechirAhmed currently it is not possible, because charts are not for money data only, it can be any numbers. But you can fork the package to add your own logic, and use your own fork.

[2019-10-01 09:07] #12 closed

[2019-10-08 22:50] impactcolor opened #13 "Relationship and also group by specific table"
Currently I have the following options:
[code]
In date from model Operator I have a table item_clicked.  I'd like to display
"where item_clicked == 'byname' ONLY and keep all the rest the same.  Is there anyway to achieve custom queries for the data?

[2019-10-09 05:50] PovilasKorop commented on #13
@impactcolor currently we don't have any function to filter results with custom `where` queries, we have `where` only on dates: https://github.com/LaravelDaily/laravel-charts/blob/e9d93a9856876cfbee946de101b3be5679dfd654/src/Classes/LaravelChart.php#L39

Technically, accepting any where parameters (fields, values) could be a potential security issue, cause we can't control it.

So your options are

[2019-11-05 12:11] datomnurdin commented on #9
@illusion199 @PovilasKorop any update so far?

[2019-11-05 13:19] PovilasKorop commented on #9
Haven't received the code from issue author, so can't help.

[2019-12-11 10:46] PRVN007 opened #16 "I want to create mixed chart"
Hey,
I want to create mixed chart.

[2019-12-11 11:05] PovilasKorop commented on #16
@PRVN007 what do you call mixed chart? Give a link or screenshot example, please

[2019-12-11 11:11] PRVN007 commented on #16
[my-point.pptx](https://github.com/LaravelDaily/laravel-charts/files/3950005/my-point.pptx)
@PovilasKorop  Please check  .

[2019-12-11 11:12] PRVN007 commented on #16
![mixed](https://user-images.githubusercontent.com/51471690/70616747-25b9cf00-1c35-11ea-9134-9637b1b7b765.png)
@PovilasKorop Please check

[2019-12-11 11:16] PovilasKorop commented on #16
@PRVN007 oh now I understand. Currently this package doesn't support such charts, sorry

[2019-12-16 11:41] matheenulla6 opened #17 "How to add x-axis and y-axis labels text for chart type = bar"
Hi
I just want to add the x-axis and y-axis label text manually and change the colors in the pie chart. Please tell me how to add

thank you

![Screenshot_1](https://user-images.githubusercontent.com/37471028/70904460-6fd0f500-2027-11ea-9546-607a4eae779d.png)
![Screenshot_2](https://user-images.githubusercontent.com/37471028/70904499-8a0ad300-2027-11ea-937b-e4fcfd30d8e6.png)

[2019-12-16 12:26] PovilasKorop commented on #17
@matheenulla6 we don't have such customizations, our package is for simple and quick charts, sorry.

[2019-12-16 12:28] matheenulla6 commented on #17
@PovilasKorop  can we able to change colors?

[2019-12-16 12:29] PovilasKorop commented on #17
@matheenulla6 from what I remember, colors are assigned randomly every time, and no there's no way to customize them. But if you write that code, we will accept that Pull Request.

[2019-12-16 12:30] matheenulla6 commented on #17
@PovilasKorop  thank you for your response.

[2019-12-16 12:38] #17 closed

[2020-01-02 05:44] noxidsoft opened #18 "Fails if imagick extension not installed"
Just a heads up, spatie library requires imagick to run, including Dashboard & Reports on an application, this returns an error after GIT download to local machine running on Windoze.

Symfony\Component\Debug\Exception\FatalThrowableError
Class 'LaravelDaily\LaravelCharts\Classes\LaravelChart' not found

So, I attempt an install of that package...

Windows 10 WAMP

$ composer require laraveldaily/

[2020-01-02 05:51] PovilasKorop commented on #18
@noxidsoft `imagick` requirement is not inside of this `laravel-charts` package.
See `composer.json`, the require list is absolutely empty: https://github.com/LaravelDaily/laravel-charts/blob/master/composer.json

It comes from `Laravel MediaLibrary` which we use in code of QuickAdminPanel for file uploads. So when you ran `composer require`, your previous installation ran into that issue.

And we

[2020-01-03 04:21] noxidsoft commented on #18
Completely understand, thank you for the information, makes sense. I use Matomo, so I was able to just include the widgets on the Dashboard instead, and I like the workaround (:
Thank you for the help.

[2020-01-03 04:21] #18 closed

[2020-02-14 09:46] anjan12pandey commented on #9
I'm using laravel 6 and facing the same problem, Data coming but not showing on the browser.

[chart-testing.zip](https://github.com/LaravelDaily/laravel-charts/files/4203833/chart-testing.zip)

[2020-03-03 13:11] ihabhamad opened #19 "big amount of data with laravel collection"
hi LaravelDaily Team
Laravel collection is a very bad idea if the table is a big amount of data
 $collection = $query->get();
return error 500

[2020-03-03 13:52] PovilasKorop commented on #19
@ihabhamad without a full example I can't comment on anything, collection in itself is not a bad idea, maybe bad idea is your table structure or the way you are filtering the data, maybe that returns too big amount of data.

[2020-03-03 19:16] ihabhamad commented on #19
@PovilasKorop  I know laravel collection is awesome exactly ( we can use it as elequent quires )  and your package is very powerful but if my table have 10k rows daily and want to show only 7 days  chart we have 70k rows , the laravel collection can't handle it  my table calls details records  laravel standard table will be send to you table structure and the error code after  I back to my office

[2020-03-10 15:09] zKoz210 opened #20 "Sampling data by value"
Is it possible to make a selection of data by ID?

Purchases (user_id, amount, and etc)

How make chart only for user with ID = 1?

[2020-03-10 17:18] PovilasKorop commented on #20
@zKoz210 currently there is no such filtering feature.

[2020-04-08 09:52] sarojbrt1 opened #21 "unable to display data in graph"
<div class="container">
  <div class="row">
  <div class="col-md-12">
  <div class="card">
  <div class="card-header">Dashboard</div>
   <div class="card-body">  
   <h1>Users by months</h1>
   <canvas id="users_by_months"></canvas> 
  <hr /> 
   <h1>Users by names</h1>
  <canvas id="users_by_names"></canvas>
   <hr /> 
  </div> 
   </div>
  </div>
 </div>
 </div>

[2020-04-08 10:00] PovilasKorop commented on #21
Please check if you loaded javascript/jquery, or if there is any error in browser development console.

[2020-04-08 10:15] #21 closed

[2020-04-20 11:45] hashmat0811 opened #22 "Undefined offset: 0 /vendor/laraveldaily/laravel-charts/src/views/javascript.blade.php"
I've installed the package on Laravel 6 using
`composer require laraveldaily/laravel-charts`

But It is showing error on my view:

![FireShot Capture 121 - 🧨 Undefined offset_ 0 (View_ _var_www_html_hthc-backend_vendor_larav_ - 127 0 0 1](https://user-images.githubusercontent.com/34671872/79748007-48b66700-832a-11ea-9d98-54411dc873f2.png)

Any help will be appreciated.

[2020-04-20 13:07] PovilasKorop commented on #22
@hashmat0811 you probably have put some parameter wrong, can you double check with documentation in Readme file?

If you still can't figure it out, please show the code of LaravelChart calling and what parameters you're using, in controller or somewhere else, then I will be able to comment

[2020-04-20 13:15] hashmat0811 commented on #22
Thanks, @PovilasKorop for the reply, I've copied the same code of **Using Multiple Charts** in the readme for testing it.

[2020-04-20 15:36] PovilasKorop commented on #8
@illusion199 sorry it took almost a year, we didn't look into issues during those times. I guess it was some kind of JavaScript error, would need more info, especially from your Development Console.

[2020-04-20 15:45] PovilasKorop commented on #22
@hashmat0811 reproduced it myself, too. And fixed, release a new version: https://github.com/LaravelDaily/laravel-charts/releases/tag/0.1.16

Please run `composer update`

The error happened when there was no data for the chart.

[2020-04-20 15:45] #22 closed

[2020-05-08 10:23] tommiekn opened #23 "Group by field"
Hi,

I am trying to create a chart that shows how many users are active in a log table, daily.

I have one table logs with an "user" column that refers to the user/id, trying to get the results like running a DISTINCT(user_id)

I was trying with something like this but it shows the total numbers of records for each day, not grouping it by user. (es. i have 100 transactions of 5 different users, no

[2020-05-08 18:37] tommiekn opened #24 "Multiple records with same result doesnt show"
Hi,

I have noticed that in a line graph, with multiple conditions, if two or more conditions have the same result number, only one shows in the graph while hover it.

I believe that if multiple conditions has the same result these shall be all listed in the hover tooltip of the chart.

[2020-05-09 05:04] PovilasKorop commented on #23
Not 100% sure, but try this:

[code]

[2020-05-09 05:05] PovilasKorop commented on #24
@tommiekn that could be a feature/bug in Chart.js library we use. Can you attach a screenshot/screencast how to reproduce?

[2020-05-09 09:56] tommiekn commented on #24
@PovilasKorop hi, i would avoid to attach a screenshot cause the chart is showing api endpoints.

Anyway is simply a chart where i know theres multiple voices with the same total result, and only one shows.

For reference, it should be working like this (this is an official Spotify Api chart):
In this example many records has 0 as result so while onmouse over it shows all of them.

![Screen Shot 2

[2020-05-09 10:00] tommiekn commented on #23
@PovilasKorop i have tried that already, it doesnt work cause group_by_relationship doesnt allow the grouping by date.

If i use your code i get a graph that shows the total number of requests for each user.
I do need to show how many users have generated logs with a group by date concept.

So each day theres 2/3/4/5/x active users.

[2020-05-09 10:59] PovilasKorop commented on #23
@tommiekn oh you want to group by user AND by date? No, we don't support that, sorry. Feel free to fork the package and add any functionality you need, our goal was to create a simple package for quick usage and basic use cases.

[2020-05-09 10:59] #23 closed

[2020-05-09 11:58] tommiekn commented on #23
I have opened a pull request, its a very easy edit, updated the readme as well, feel free to explain it better:

https://github.com/LaravelDaily/laravel-charts/pull/25

[2020-05-09 12:15] tommiekn commented on #24
I have checked Chart.js library docs and i believe what you miss is to specify the index value in the Chart.js options:

https://www.chartjs.org/docs/latest/general/interactions/modes.html#interaction-modes

You should add:

[code]

I did not test this yet but 99% this is the issue.

[2020-05-09 12:20] tommiekn commented on #24
opened this one:
https://github.com/LaravelDaily/laravel-charts/pull/26

I believe would be a good idea to move some of these js settings to the plugin options, including this field.

[2020-05-11 09:01] #24 closed

[2020-05-11 09:03] tommiekn opened #28 "continuous_time gives error"
Hi,

If i enable continuous_time with a graph that works on a dataset with only the last 4 days set (its a log table) , it gives error:

"Invalid start date."
LaravelChart.php line 119

[2020-05-11 09:16] tommiekn opened #29 "Line charts and conditions issue"
Hi,

Line charts with multiple conditions should have all conditions to 0 on each day(or month or what so ever is selected) if theres no records for that conditions in the recordset.

Now this doesnt happen, if i do have 10 conditions, but the script can retrieve records only for 1, it doesnt show the other 9 with a "0 value", that should be the way it works i believe.

[2020-05-11 13:43] PovilasKorop commented on #28
@tommiekn can you give more details on "only the last 4 days set"? What is the actual data in DB (any screenshots or anything) and what parameters are you putting into LaravelChart? Otherwise, I can't reproduce/help.

[2020-05-11 13:44] PovilasKorop commented on #29
@tommiekn can you share the code of parameters you're putting in LaravelChart? Will be much easier to reproduce, then.

[2020-05-11 13:45] #8 closed

[2020-05-11 13:47] PovilasKorop commented on #9
@anjan12pandey sorry just now saw the issues, not sure why didn't receive notifications about them earlier. Downloaded the code you added, but it doesn't have the Views code, and quite likely the error is somewhere on that side, not in Controller.

So have you solved that problem three months ago? Is it still relevant? If you don't reply within 14 days, will close the issue as "cannot reproduce".

[2020-05-11 13:47] #10 closed

[2020-05-11 13:48] PovilasKorop commented on #13
Fixed in https://github.com/LaravelDaily/laravel-charts/releases/tag/0.1.15

[2020-05-11 13:48] #13 closed

[2020-05-11 13:48] #16 closed

[2020-05-11 13:49] PovilasKorop commented on #19
Closing as didn't get more information from the issue author.

[2020-05-11 13:49] #19 closed

[2020-05-11 13:49] PovilasKorop commented on #20
Fixed in https://github.com/LaravelDaily/laravel-charts/releases/tag/0.1.15

[2020-05-11 13:49] #20 closed

[2020-05-28 14:05] mohosin16103308 opened #31 "ErrorException No hint path defined for [laravelchart]."
ErrorException
No hint path defined for [laravelchart].
![error](https://user-images.githubusercontent.com/32362094/83151471-6e4f4100-a11e-11ea-9115-5f7142732dc2.PNG)
Would you please help me how I solve this issue.
I am using :         "laravel/framework": "5.4.*",

[2020-05-28 14:07] PovilasKorop commented on #31
@mohosin16103308 we haven't tried it with that old Laravel version, likely this package won't work on Laravel 5.4, sorry.

[2020-05-28 14:07] #31 closed

[2020-05-28 14:26] mohosin16103308 commented on #31
Ok Thank You

[2020-06-05 20:20] neppoz opened #32 "group_by_field_format missing in documentation"
Hi,

i initially struggled to to set the correct datetime format when grouping by a datetime field. So i noticed in LaravelChart the undocumented group_by_field_format

LaravelChart.php Line 106
`$this->options['group_by_field_format'] ?? 'Y-m-d H:i:s',`

Could be useful for those using CET time settings or those who have model mutators otherwise the query will fail.

[2020-06-06 05:17] PovilasKorop commented on #32
@neppoz thanks for noticing! Would you be able to add it to the documentation as a Pull Request, please?

[2020-06-06 05:18] #9 closed

[2020-06-06 05:18] #28 closed

[2020-06-06 05:18] #29 closed

[2020-06-08 05:43] neppoz commented on #32
For sure. Please see https://github.com/LaravelDaily/laravel-charts/pull/33

[2020-06-16 03:27] Overx opened #34 "Condition in model"
How do I use conditions like where in the model? Thx

[2020-06-16 03:38] PovilasKorop commented on #34
See in readme:

[code]

[2020-06-17 00:31] Overx commented on #34
Are fields such as name and color required?

[2020-06-17 00:35] Overx opened #35 "How do I change the date format?"
How do I change the date format? for example: created_at->format('d/m/Y')

[2020-06-17 04:20] PovilasKorop commented on #34
@Overx no, optional

[2020-06-17 04:20] #34 closed

[2020-06-17 04:25] PovilasKorop commented on #32
Fixed.

[2020-06-17 04:25] #32 closed

[2020-06-17 04:26] PovilasKorop commented on #35
@Overx we have only this as a parameter:

`group_by_field_format` (optional), set the expected php date format. Examples: "d.m.Y", "d-m-Y";

Nothing more about date formats. So if you want some other behavior for date formats, we're happy to accept a Pull Request.

[2020-06-17 21:59] Overx commented on #35
Very thx, working Fine!

[2020-06-17 22:28] Overx commented on #34
[code]

Not working for me

[2020-06-17 22:33] Overx opened #36 "How to assign a style class to the canvas?"
`<canvas id="{{ $options['chart_name'] ?? 'myChart' }}"></canvas>`

it would be interesting to have a new attribute

`<canvas id="{{ $options['chart_name'] ?? 'myChart' }}" class="{{ $options['class_name']  }}"></canvas>`

[2020-06-18 02:37] #35 closed

[2020-06-18 02:50] PovilasKorop commented on #36
@Overx currently we're not planning to spend time on new features for this package, but we are happy to accept it as a Pull Request if you create it.

[2020-06-18 02:51] PovilasKorop commented on #34
@Overx what is the error you're getting?

[2020-06-18 14:00] Overx commented on #34
It does not present any error, just does not have the expected effect, I would like it to show the record of this user, and are showing all the records, it is not filtering with the condition where user_id

[2020-06-18 14:01] Overx commented on #36
Ok, I'm going to clone the repository and make some changes and send it to you

[2020-06-19 07:17] PovilasKorop commented on #34
@Overx oh now I understood why it's not working, it works only with `line` chart, with purpose of having multiple lines on the same chart. With `bar` chart you're using, it won't work. Sorry, for `bar` we don't have where condition logic. But again, we are happy to accept a Pull Request if you build it.

[2020-06-21 12:29] #36 closed

[2020-06-27 15:35] vanvat11 opened #38 "how use where_raw ?"
how use where_raw ?

[2020-06-27 20:32] PovilasKorop commented on #38
@vanvat11 see this example from Pull Request: https://github.com/LaravelDaily/laravel-charts/pull/37/files#diff-e56a33fda96f806bcc3d7dd046dc2934R88

It just adds Eloquent's `whereRaw()` method with whatever you specify with `where_raw()` parameter.

[2020-06-27 20:43] Overx commented on #38
You can create conditions from simple to advanced, example:

`budgets.project_id = projects.id` or `1 = (SELECT COUNT(*) FROM budgets WHERE budgets.project_id = projects.id)`

[2020-06-30 20:40] Jipem opened #39 "Include SoftDelete"
Hello,
I use SoftDelete on some Models.
How can I include this in my stats (to know the number of delete items) ?
Thanks !

[2020-07-01 04:37] PovilasKorop commented on #39
@Jipem in general, you would do that in Eloquent by using `withTrashed()` method but we don't have this feature inside of this package, we're just querying the model.

But if you want to spend time on this and make a Pull Request to the package, we're happy to consider it.

[2020-07-03 14:34] Nizzy94 opened #40 "Target class [App\Providers\Charts] does not exist."
i ran `composer require laraveldaily/laravel-charts` and i got an error saying ***Target class [App\Providers\Charts] does not exist.*** Do i have to create the Charts class myself?

[2020-07-03 15:05] Nizzy94 commented on #40
I've found the problem. I installed a different package before discovering this and when i deleted it, i forgot to remove the registration from the **App Service Provider**

[2020-07-03 15:05] #40 closed

[2020-07-07 15:48] zhxscript opened #41 "Column not found"
The Condition on Line Charts does not seem to be working properly...

`..
'chart_type' => 'line',
'conditions' => [
                ['name' => 'Condition 1', 'condition' => 'field = value', 'color' => 'black'],
                ['name' => 'Condition 2', 'condition' => 'field2 = value2', 'color' => 'blue'],
            ],
...
`
However the code is generating a error:

`Column not found: 1054 Unknown

[2020-07-07 15:55] PovilasKorop commented on #41
@zhxscript it wasn't intended to work like you're trying it. You need to provide __static raw query__ with all values you need, so value should be probably in "value" or something.

The way you used it, the package understands value as a DB column.

[2020-07-07 15:55] zhxscript commented on #41
Figured it out... after looking at what I was doing, realized my error...

I had to update my condition to wrap my value in single quotes.

`'conditions' => [
                ['name' => 'Condition', 'condition' => "field = 'value'", 'color' => 'black'],
                ['name' => 'Condition 2', 'condition' => "field2 = 'field2'", 'color' => 'blue'],
            ],`

[2020-07-07 15:55] #41 closed

[2020-07-15 03:06] shirakun opened #43 "When the statistical target has only one piece of data, continuous_time doesn't work"
I try to count the number of users in 30 days by day
But I found a problem
When there is only one user in 30 days, continuous_time doesn't work
When I add another user to the database with a different created_at, continuous_time works

php code

[code]

html code

[code]
![image](https://user-images.githubusercontent.com/11274807/87498664-eb148b00-c68a-11ea-8f29-13ddc8bf58bd.png)

[2020-07-15 03:29] PovilasKorop commented on #43
@shirakun hi, thanks for the reporting. Currently we don't have free time to spend on this package, will have only in a few weeks. Meanwhile maybe you can propose the solution to this and make a Pull Request?

[2020-07-15 03:33] shirakun commented on #43
Hi
When I have time, I check it and try to fix it.

[2020-07-18 08:16] saifsafwan opened #44 "Pie chart without y-axis"
Hi, I just want a pie chart without the y-axis. How do I configure that?

![pie chart](https://user-images.githubusercontent.com/24731919/87848354-13fa8180-c912-11ea-9b28-0f64c65b1507.jpg)

[2020-07-20 08:43] #44 closed

[2020-07-20 08:45] PovilasKorop commented on #44
@saifsafwan we fixed it, please run `composer update`, no changes needed in your code

[2020-08-13 11:37] Jenga01 opened #47 "Change quotation mark to double for the condition"
In LaravelChart.php line 53
`[['name' => '', 'condition' => '', 'color' => '']];`
change to
`[['name' => '', 'condition' => "", 'color' => '']];`

Because right it would accept only strings, I found it very useful when I can pass some variable data.

[2020-08-13 11:39] PovilasKorop commented on #47
@Jenga01 please make a pull request

[2020-08-13 13:22] #47 closed

[2020-08-13 13:22] Jenga01 commented on #47
pull request made

[2020-08-19 09:44] Kayla-Lamp opened #49 "Limit Number of Records Displayed on the Chart"
Hi there,

Is there currently a way to limit the number of groups pulled through and displayed on the chart (only show top 10 results)?

Thanks in advance for your response.

[2020-08-19 09:47] PovilasKorop commented on #49
@Kayla-Lamp currently there's no such feature. But if you're happy to build it, we can accept it as a Pull Request.

[2020-10-03 22:49] axplmma opened #51 "Options to skip globalScode"
When MultiTenantModel is used, then global scope is applied to the model.
However for displaying Charts in some cases  I'd like to present data from all users.

SO implementing new option 'withoutGlobalScopes' could result in executing following query in LaravelCharts:
`$collection = $query->withoutGlobalScopes()->get();`

or - is there any other way to disable global scope?

[2020-10-04 04:20] PovilasKorop commented on #51
@axplmma well, we created that package not only for QuickAdminPanel, but also for others to use in Laravel projects, so technically our package doesn't know anything about MultiTenant function or your global scopes.

But I understand it would be useful as a parameter somewhere.

Currently we don't have time to implement it, but if you make a Pull Request we would accept it. Thanks!

[2020-11-24 23:14] ynroot opened #53 "the chart is not rendering"
the chart is not rendering, but when I use dd (chart_name) I see that the object has the data I need, I'm just not getting it to appear in the desired view.

Can anyone help me with this problem?

Using version
laraveldaily / laravel-charts ^ 0.1.25
laravel 8.12

[2020-11-25 04:31] PovilasKorop commented on #53
@ynroot

1. do you have any errors in `storage/logs/laravel.log` or in the browser console?
2. What are the parameters of your LaravelChart call, can you provide a full list of parameters?

[2020-11-25 12:19] ynroot commented on #53
@PovilasKorop

I don't know why but before it was like this it didn't render

`@section ('javascript')
{!! $ chart1-> renderChartJsLibrary () !!}
{!! $ chart1-> renderJs () !!}
@endsection`

when I put it in my content section it rendered

`@section ('content')

         <h1> {{$ chart1-> options ['chart_title']}} </h1>
          {!! $ chart1-> renderHtml () !!}

{!! $ chart1-> renderChartJsLibrar

[2020-11-25 14:27] PovilasKorop commented on #53
@ynroot it depends on where your "javascript" section is, maybe you don't even have it?

But if it works for you now, please close the issue.

[2020-11-25 16:29] #53 closed

[2020-12-17 17:44] Fahrur-R opened #54 "unable to group_by_field with a field type date"
i got some issue that said "Undefined index: group_by_field_format"
i use field from my table that has the field type date but it doesnt work, when i changed it to type datetime field (created_at) the chart is working. i also try to group it by period of month

[2020-12-17 20:00] PovilasKorop commented on #54
@Fahrur-R can you post exactly all parameters how you call `LaravelChart()` new object?

[2020-12-17 23:40] Fahrur-R commented on #54
chart_options = [
            'chart_title' => 'Keuntungan berdasarkan bulan',
            'chart_type' => 'bar',
            'report_type' => 'group_by_date',
            'model' => 'App\Models\Analisis_keuntungan',

            'group_by_field' => 'periode_keuntungan',
            'group_by_period' => 'month',

            'aggregate_function' => 'sum',
            'aggregate_field' => 'keuntung

[2020-12-17 23:45] Fahrur-R commented on #54
[code]
and this is inside my migration for the table

[2020-12-18 03:09] PovilasKorop commented on #54
@Fahrur-R in the source I found this code

if ($entry->{$this->options['group_by_field']} && $this->options['group_by_field_format']) {
                                    return \Carbon\Carbon::createFromFormat($this->options['group_by_field_format'],
                                        $entry->{$this->options['group_by_field']}
                                    )

So probably try to specif

[2020-12-18 05:20] Fahrur-R commented on #54
can you show me how the code is? i'm sorry for that, i got confused where to put that parameter at. i'm still at early stage learning back-end and stuff.

[2020-12-18 05:46] PovilasKorop commented on #54
@Fahrur-R just try to add this, see last parameter:

[code]

[2020-12-18 06:07] Fahrur-R commented on #54
Thank you so much, this work

Thank you so much, sir. this solved it. i'm sorry for the inconvenience

[2020-12-18 06:07] #54 closed

[2021-01-04 12:11] odion-cloud opened #55 "how to use join"
i want to select my by this is my code
            'where_raw' => 'transaction.id = (SELECT * FROM transactions INNER JOIN users ON users.id = transactions.payable_id)',

but did not return any data
 pls how can i achieve this or correct code

[2021-01-04 13:00] PovilasKorop commented on #55
@odion-cloud we don't have anything for JOIN syntax, it's not supported by our package.

[2021-01-04 13:01] #55 closed

[2021-01-15 22:46] asopiah commented on #41
Thanks for this. It save me a lot of time

[2021-03-05 11:25] gathuku commented on #34
@PovilasKorop Thank you for this packge, looking at this issue is it possible to filter the data which get analyzed.
For example, a `Business` has many `Sales`, can you be able to narrow down to specific business sales
[code]

[2021-03-05 12:07] PovilasKorop commented on #34
@gathuku yes, it should be possible with `where_raw` parameter, look at readme or in the source how it works.

[2021-04-28 22:52] lordz123 opened #58 "Chart style"
can i add a new color in chart?

[2021-04-29 18:12] PovilasKorop commented on #58
@lordz123 we randomize all the colors for the chart.

But we support colors if you have conditions.

From Readme file:
Option: `conditions` (optional, only for `line` chart type) - array of conditions (name + raw condition + color) for multiple datasets;

Example:

[code]

[2021-06-13 00:35] mechdoudmohammed opened #59 "More then one line in the same chart"
Please how can i make +1 line in the same chart

[2021-06-13 04:21] PovilasKorop commented on #59
@mechdoudmohammed we don't support this feature in this package, sorry.

[2021-06-13 04:21] #59 closed

[2021-06-13 13:04] mechdoudmohammed commented on #59
ah okay thanks sir

[2021-06-21 10:25] CangeJ opened #60 "Multiple Dataset in one chart ?"
Hi !

I didn't see anything in your repo about multiple dataset, is this something that we can do with your package? If yes can you explain how to do it ?

Thank you for this and for your videos ! :)

[2021-06-21 10:58] PovilasKorop commented on #60
@CangeJ no this package doesn't support multiple datasets. But we're happy to accept a Pull Request for this.

[2021-07-04 11:00] Sjos12 opened #61 "How to specify which column in model should be used as dataset?"
I have a model with some columns. I want a certain column to be used as the dataset and another column to be used on the x-axis as labels. I got the x-axis labels to work but can't seem to specifiy which column should be used in the model for the dataset. It now seems to be using the 'id' column on my model, I want to use the 'value' column instead. Here's my code.

[code]
Can someone tell me wher

[2021-07-04 13:01] PovilasKorop commented on #61
@Sjos12 from Readme:

[code]

[2021-07-04 19:08] Sjos12 commented on #61
Thanks that worked. But isn't the aggregate option only supposed to be added when you want to manipulate the data that is given. Can you explain why it works?

[2021-07-04 19:33] PovilasKorop commented on #61
@Sjos12 I suggest you install Laravel Debugbar package and see for yourself what queries are executed for grouping

[2021-07-04 19:41] #61 closed

[2021-08-01 06:45] suadikhasen opened #62 "start date end date not working"
this is my code .

[code]
Thank you.

[2021-08-01 07:55] PovilasKorop commented on #62
@suadikhasen

1. What exactly do you mean by "not working"? What is the error?
2. What are the values of your `$start_date` and `$end_date`? Maybe they are not in the default `Y-m-d` format?

[2021-08-04 13:11] makeyourownproject commented on #58
Hi @PovilasKorop

I really like this package especially with Quick Admin Panel, it is nice and easy. It would be more powerful if we can support colors for the bar chart and support more tips and tricks.

Thanks and with you all the best.

[2021-08-13 09:10] suadikhasen opened #63 "using in livewire can not update data"
first the graph display correctly but when  i load it first  it works but when i update the variable
the graph is not display

[2021-08-13 11:33] PovilasKorop commented on #63
@suadikhasen sorry but this issue is likely not with our package but with the way you use it in Livewire. This is outside of our support, I can't debug it for you

[2021-08-13 11:33] #63 closed

[2021-09-27 17:34] rajeshvishnani commented on #58
Support colors for bar chart please

[2021-09-28 03:56] #38 closed

[2021-09-28 03:58] PovilasKorop commented on #62
Archiving because of no further details explained by the issue author.

[2021-09-29 12:39] #39 closed

[2021-09-29 12:41] #51 closed

[2021-10-07 16:21] PovilasKorop commented on #49
Fixed by https://github.com/LaravelDaily/laravel-charts/pull/66

[2021-10-07 16:21] #49 closed

[2021-10-13 07:14] spham opened #70 "Feature request"
Hi
Can you Add radar chart ?

[2021-10-25 01:13] jhourlad opened #72 "Date range not working"
Chart still renders date range starting at first unfiltered record even when specifying `filter_period`,  `range_date_start` and `range_date_end`.

[code]
![image](https://user-images.githubusercontent.com/3771945/138620972-2f8ed714-f190-4f67-bd80-283acd5eafc3.png)

[2021-10-29 08:26] adistoica opened #73 "Is there any option to create a 'stacked' bar chart?"
Like this https://www.chartjs.org/docs/latest/samples/bar/stacked.html

Thank you for creating this awesome package !

[2021-10-29 10:02] #73 closed, assigned to nobody

[2021-11-05 09:44] SeadSilajdzic opened #74 "Optimization"
Hello,
is there a way to optimize queries from this package?

Right now the query is "`select * from table`" and I guess that is not good because if someone is using this for bigger projects where there might be 10k users the application will use 50MB of ram and there will also be 10k models loaded and wait time will be about 3-5s.

We just need numbers of rows related to "created_at" or something

[2021-11-05 16:44] PovilasKorop commented on #74
@SeadSilajdzic valid point, it's probably worth improving, but we don't actually know what fields we need, in some cases it's created_at, in other cases it's other fields, as there are a lot of grouping parameters.

So it's not an easy task to select the fields. But if you want to contribute, we would happily accept a Pull Request.

[2021-11-13 04:41] tarikmanoar opened #75 "A two digit month could not be found Data missing"
![image](https://user-images.githubusercontent.com/17971022/141605831-8afede60-c5ba-4fe1-a607-7b3c4f83e32d.png)

### In My Controller
[code]
### In My Blade
[code]
[code]

[2021-11-13 04:56] tarikmanoar commented on #75
### Solved

[2021-11-13 04:56] #75 closed

[2021-11-13 12:35] SeadSilajdzic commented on #74
Good point, but I guess 90% of people will work with dates. Will try to make it work for me and if I succeed I will contribute :)

[2021-12-24 14:34] NSoes opened #79 "Shows only a single condition"
Hi!

I'm not sure what's going wrong here.
My chart is loading properly but is only showing the bottom condition.
[code]

Swapping the conditions will change the dataset from Credit to Debit and shows the new data in the chart with the corresponding color.

[code]

Changing the condition to another property doesn't work either.
Dye and dumping the chart object does always show a single dataset.

[2021-12-27 13:03] PovilasKorop commented on #79
@NSoes thanks for reporting, I've scheduled to the team to reproduce/fix this issue, but realistically only after New Year's.

[2021-12-28 13:32] krekas commented on #79
@NSoes can you post your migration file? And what that condition `credit` should do?

[2021-12-28 21:01] richprince23 opened #80 "Quick Question"
How do i dynamically update the options and rerender the chart with the new options?

[2021-12-28 23:31] PovilasKorop commented on #80
@richprince23 we don't have such feature in this package, sorry

[2021-12-28 23:31] #80 closed

[2022-01-03 08:39] NSoes commented on #79
First of all best wishes for 2022!

@krekas I suppose you would like to see the migration file for the table which inherits the credit field:
![image](https://user-images.githubusercontent.com/91737983/147911457-36c9b132-0d8a-4083-9890-664b59b9c78c.png)
Credit is a simple boolean which 'checks' if an amount is incoming or outgoing.
The condition should separate the credit and debit values to show

[2022-01-03 17:59] kyaroslav opened #81 "ErrorException while using LaravelChart in Laravel-Employee-Attendance-Reports project"
Example usage in Controller

[code]
Steps to reproduce in an Example project "[Laravel-Employee-Attendance-Reports](https://github.com/LaravelDaily/Laravel-Employee-Attendance-Reports)"
1. Install project and seed example data
2. login as admin
3. go to  page /admin/reports?employee=11
Error appears
<img width="1202" alt="Screenshot 2022-01-03 at 19 42 40" src="https://user-images.githubuserconten

[2022-01-03 20:07] addshore opened #83 "Feature: group_by_period hour"
I'd love to be able to generate a chart but grouped by hour!

[2022-01-04 03:32] PovilasKorop commented on #83
@addshore currently we're not planning that feature, but it's open source, you can contribute!

[2022-01-04 04:43] PovilasKorop commented on #81
@kyaroslav thanks for your fix #82 - I've merged and released a new package version `0.1.29` - will that fix the issue in the employee attendance report?

[2022-01-05 14:24] addshore opened #84 "show_blank_data doesnt work with filter_period"
[code]

This seems to fill in the data gaps

However the below will not, but probably could

[code]

[2022-01-05 14:42] PovilasKorop commented on #84
@addshore perhaps you're right. But at the moment we don't have time to work on this particular package, so you could submit a PR if you're deep enough in the package so you would find a quick fix.

Thanks!

[2022-01-05 18:25] kyaroslav commented on #81
@PovilasKorop Yes, now the issue in the employee attendance report is fixed. Just need to use `composer update` command , composer install will install `"laraveldaily/laravel-charts": "^0.1.13"` according to composer.json.

[2022-01-05 18:28] PovilasKorop commented on #81
@kyaroslav great to hear!

[2022-01-05 18:28] #81 closed

[2022-01-07 20:00] krekas commented on #79
@NSoes now you can use [multiple datasets](https://github.com/LaravelDaily/laravel-charts#multiple-datasets) code will be longer but at least result as expected

[2022-01-10 08:41] #79 closed

[2022-06-06 21:59] devscript-abdo opened #87 "Undefined array key "data""
Undefined array key "data"
vendor\laraveldaily\laravel-charts\src\views\javascript.blade.php

   data: {

            labels: [

                @if (count($datasets) > 0)

                    @foreach ($datasets[0]['data'] as $group => $result)

                        "{{ $group }}",

                    @endforeach

                @endif

Laravel 8

[2022-06-06 22:12] devscript-abdo commented on #87
Fixed it's a error by me
        $chart_options = [
            'chart_title' => 'Users by months',
            'report_type' => 'group_by_date',
            'model' => 'App\Models\Sameleon\User',
            'group_by_field' => 'created_at',
            'group_by_period' => 'month',
            'chart_type' => 'bar',
            'filter_field' => 'created_at',
            'filter_days' => 30, //

[2022-06-06 23:33] #87 closed

[2022-07-11 17:44] iammul opened #89 "Why my data record is 0?"
`public function index()
    {
        $chart_options = [
            'chart_title' => 'Transactions by dates',
            'report_type' => 'group_by_date',
            'model' => 'App\Transaction',
            'group_by_field' => 'created_at',
            'group_by_period' => 'day',
            'aggregate_function' => 'sum',
            'aggregate_field' => 'amount',
            'chart_type' =>

[2022-07-11 17:49] iammul commented on #89
btw im using laravel 6

[2022-07-11 18:17] PovilasKorop commented on #89
@iammul from what I see you're doing sum from "amount" and your field is actually called "transaction_total".

[2022-07-12 08:59] iammul commented on #89
@PovilasKorop thankyouu sirr, I guess I have to read the documentation again 🥲

[2022-07-12 08:59] #89 closed

[2022-08-10 04:24] imhayatunnabi opened #90 "Colors"
Can you please bring some colors into the charts like line and bar chart might be better. Thanks you. Cz the color r too deemed that not easily understandable

[2022-08-10 05:40] PovilasKorop commented on #90
@imhayatunnabi we are currently not planning any active work on this package but we're accepting Pull Requests if you want to work on this feature. Thanks!

[2022-08-11 17:38] #90 closed

[2022-08-18 00:53] krutsednar opened #91 "can this be generated in pdf?"
is there a way to generate the chart in pdf?

[2022-08-18 03:36] PovilasKorop commented on #91
@krutsednar we don't have that feature in this package, sorry

[2022-08-18 03:36] #91 closed

[2022-09-18 06:22] amruh opened #92 "Conditions not work"
I watch your video about Chart with Multiple Datasets, which we should add conditions keys to display multiple datasets, but it seems not working properly in my case, it only display one line in chart

`
        $charts = [
            'chart_title' => 'Visitors by dates',
            'chart_type' => 'line',
            'report_type' => 'group_by_date',
            'model' => 'App\Models\Visitors'

[2022-09-18 06:39] krekas commented on #92
@amruh can you set up demo project to reproduce problem?

[2022-09-18 06:45] amruh commented on #92
![image](https://user-images.githubusercontent.com/50282017/190889342-77c15a41-e86f-4f1f-9eed-0b5ee0f2a1d0.png)
i think by adding two condition will show up two lines ? or i missed something ?

[2022-09-29 21:05] hasan4it opened #93 "colors"
Unable to change colors in pir chart and how to fill the line graph without any condition array values?

[2022-09-30 03:31] PovilasKorop commented on #93
@hasan4it we don't have these features in the package, but if you want to help us and work on it, we would accept a pull request.

[2022-10-03 09:23] PovilasKorop commented on #92
@amruh sorry to be quiet on this, our team is busy with other projects. We reproduced the bug and confirm it but were unable to find a quick fix, without breaking other features. Will still try to find time to work on this, some time later.

[2022-11-28 06:07] gogl92 opened #94 "NoSQL Compatibility"
Has anyone ever used this package with mongodb or other NoSQL database engine?

I'll give it a try next weekend but wondering if someone have tried this before.

Also at @inquid we are considering sponsoring devs to work on some fixes/new features to this extension to make it usable in our client projects, if anyone is interested.

[2022-11-28 08:30] PovilasKorop commented on #94
@gogl92 we haven't tested it with NoSQL engine, but under the hood the package runs Eloquent queries, so the same NoSQL driver rules may apply.

Not interested in sponsorship at the moment, no free time available at the moment at all, no matter free or paid.

[2022-11-28 17:16] gogl92 commented on #94
@PovilasKorop thanks, I'll update this issue after testing it with MongoDB